/* CSS Document */

.col-lg-6{
	height:auto;
	margin:30px 0px;
	padding:20px 20px;
}

.col-lg-3{
	height:980px;
	background-image:url(../images/snacks-41a1.jpg);	
}

.page-header{
	text-align:center;
}
